[data-bs-theme=dark] {
  body {
    background-color: var(--bs-dark-rgb) !important;
  }
  .map {
    path {
      fill: var(--bs-gray-700);
    }
  }
}

[data-bs-theme=light] {
  .map {
    path {
      fill: var(--bs-gray-400);
    }
  }
}

html {
  scroll-behavior: smooth;
}

// html, body {
//   width: 100%;
//   height: 100%;
// }

.container {
  max-width: 1920px;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

// body.pattern {
//   background-image: url('../img/pattern-2.svg');
//   background-repeat: repeat;
//   cursor: default;
// }

.active-tab-bg {
  transition: .3s ease;
}

.total-nodes {
  padding: .85rem;
  & > span {
    cursor: help;
  }
}

.navbar-bg {
  backdrop-filter: blur(10px);
  --bs-bg-opacity: 0.75;
  background-color: rgba(var(--bs-body-rgb), var(--bs-bg-opacity)) !important;
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

@mixin error-animation {
  animation-name: pulse;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.6);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(220, 53, 69, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
  }
}