#map {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

// Remove map footer
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

/* Marker styles */
.site-marker, .gateway-marker, .global-cloud-marker {
  border-radius: 100%;
  padding: 20px;
  position: relative;
  background-color: currentColor;
  background-repeat: no-repeat;
  background-position: center;
  // &::after {
  //   content: "";
  //   position: absolute;
  //   left: 50%;
  //   top: 95%;
  //   transform: translate(-50%, 0);
  //   width: 0;
  //   height: 0;
  //   border-left: 8px solid transparent;
  //   border-right: 8px solid transparent;
  //   border-top: 8px solid currentColor;
  // }
  &:hover {
    box-shadow: 0 0 0 .25rem color-mix(in srgb, currentcolor 35%, transparent);
  }
}

.site-marker {
  background-image: url(../img/site.svg);
  &::after {
    position: absolute;
    right: -5px;
    top: -5px;
    padding: 0.2em 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "6";
    font-size: .8rem;
    font-weight: 600;
    color: #fff;
    border-radius: 0.6rem;
    background-color: rgb(var(--bs-success-rgb));
    box-shadow: var(--bs-box-shadow-sm);
  }
}

.gateway-marker {
  background-image: url(../img/gateway.svg);
}

.global-cloud-marker {
  background-image: url(../img/cloud.svg);
}

.widgets {
  .col {
    max-width: 400px;
  }
}