:root {
  --orange: #FF6645;
}

.container {
  max-width: 1110px;
}

.btn, .btn:hover, .btn:focus, .btn:focus-visible, .btn:active, .btn:first-child:active {
  color: #fff;
  background-color: var(--orange);
  padding: 2px 24px;
}

.form-control:focus {
  box-shadow: none;
}